*{
    direction:rtl;
    color: #272265;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #272265;
}

::-webkit-scrollbar-thumb:hover {
    background: #272265;
}

.hero{
    height:100vh ;
    with: 100%;
    background-color: linear-gradient(147.89deg, rgba(42, 40, 94, 0.5) -53.28%, rgba(42, 40, 94, 0) 47.69%) !important;
}
.login-btn{
    width: 140px;
    height: 40px;
    left: 120px;
    top: 54px;
    border: 1.5px solid #272265;
    color: #272265;
    border-radius: 22.5px;
    float:right;
}
.login-btn:hover, .login-btn:active{
    border-color: white !important;
    background-color: #272265 !important;
    font-size: 14px;
}
.login-btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(39 34 101 / 50%) !important;
}
.nav-item{
    text-align: right;
}
.nav-link{
    color:#000000 !important;
}
.nav-item.active .nav-link{
    font-weight: bold;
    color:#272265 !important;
    border-bottom: 1px solid #F3AD39;
}
.hero-content{
    top:117px;
}
.hero-content p{
    width:75%;
}

form.search-form{
    position: relative;
    top:53px;
    width: 75%;
    background: white !important;
    border-radius: 18px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    padding: 24px;
}
form.search-form .search-input{
    background: #F8F8F8;
    border-radius: 11px;
    border:none !important;
    height: 50px;
}
.shape{
    width: 100%;
    height: 627.5px;
    left: 0px;
    top: 826px;
    background-color: #272265;
    clip-path: polygon(0 0, 100% 30%, 100% 75%, 0% 89%);
}
.second{
    position: relative;
    color: white;
}
.second-content{
    position: absolute;
    top:200px;
    left:0;
    text-align: right;
}
.second-content p{
    width: 59%;
    padding-top: 40px;
    padding-bottom: 10px;
}
.second img{
    position: absolute;
    right: 107px;
    top: 10px;
    width: 93%;
    height: -webkit-fill-available;
}
.service-btn{
    width: 63px;
    height: 17px;
    top: 123px;
    background: #272265;
    border: 1px solid #FFFFFF;
    border-radius: 22.5px;
    color:#FFFFFF;
    padding: 7px 15px;
}



.fontawesome{
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
}
.second-content .service-btn i.fa-sharp.fa-solid.fa-arrow-left {
    top: 2px;
    position: relative;
    color: white;
}
.services{
    margin-bottom: 100px;
}
.service-btn:hover, .service-btn:active{
    text-decoration: none;
    color: #272265;
    background: #ffffff;
    animation-delay: .05ms;
    font-size: 15px;
}
.service-btn:hover i.fa-sharp.fa-solid.fa-arrow-left{
    color:#272265 !important;
}
.service-btn:active i.fa-sharp.fa-solid.fa-arrow-left{
    color:#272265 !important;
}
.yellow{
    color:#F3AD39;
}
.f-16{
    font-size: 16px;
}
.service-item{
    position: relative;
    border-radius: 8px;
    margin-left: 10px;
}
.w-27{
    width:25%;
}
.w-20{
    width:15%;
}
.bg-light.p-5.text-center.service-item:nth-child(1) {
    width: 250px;
    height: 140px;
    top: 100px;
}
.bg-light.p-5.text-center.service-item:nth-child(2) {
    width: 150px;
    height: 140px;
    top: 100px;
}
.bg-light.p-6.text-center.service-item:nth-child(3) {
    width: 150px;
    height: 210px;
    top: 30px;
}
.bg-light.p-5.text-center.service-item:nth-child(4) {
    height: 240px;
    top: 0px;
}
.service-item:nth-child(4) .service-item-child:nth-child(1){
    width: 250px;
    height: 130px;
    border-radius: 8px;
}
.service-item:nth-child(4) .service-item-child:nth-child(2){
    width: 250px;
    height: 100px;
    border-radius: 8px;
}
.bg-light.p-5.text-center.service-item:nth-child(5) {
    height: 240px;
    top: 0px;
}
.service-item:nth-child(5) .service-item-child:nth-child(1){
    width: 250px;
    height: 180px;
    border-radius: 8px;
}
.service-item:nth-child(5) .service-item-child:nth-child(2){
    width: 250px;
    height: 50px;
    border-radius: 8px;
}
.bg-light.p-5.text-center.service-item{
    padding: 2rem!important;
}
.bg-light.p-6.text-center.service-item{
    padding: 4rem 2rem!important;
}
.more-services{
    color:black;
}
.more-services:hover, .more-services:active{
    color:black;
    text-decoration: none;
}
.testimonial{
    height: 700px;
    background: url(../img/Union.png) no-repeat -39% 20%;
    color:#272265;

}
.testimonial .second-content{
    position: relative;
}
.testimonial-item{
    display: none;
    /*position: absolute;*/
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 29px 0px 29px 29px;
    padding: 15px;
    width: 550px;
    height: 250px;

}
.testimonial-item.active{
    display: block;
    border-bottom: 4px solid #d84544;
}
.white{
    color: white;
}
.swiper {
    width: 500px;
    height: 230px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide {
    background-color: white;
    border-bottom: 4px solid #d84544;
}
.swiper-content{
    font-size: 14px;
}
.testimonial-swiper{
    top: 120px;
    right: 45px;
}
.testimonial-content{
    top: 150px;
}
.application-shape{
    width: 100%;
    height: 627.5px;
    left: 0px;
    top: 826px;
    background-color: #272265;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}
section.application {
    position: relative;
    top: -100px;
}
section.application img{
    position: absolute;
    right: 107px;
    top: -130px;
}
.apple{
    top: 200px !important;
    right: 0px !important;
}
.android{
    top: 200px !important;
    right: 150px !important;
}
.footer{
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 1px 25px #e3e3e3;
}
.footer-list{
    list-style-image: url('../img/Group (2).png');
    padding-right: 10rem;
}
.footer-list li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-list li a{
    color: #272265;
}
.footer-list li a:hover, .footer-list li a:active{
    text-decoration: none;
    color: #272265;
}
footer{
    padding:10px 0px;
    background: #F8F8F8;
}
/*** about page ****/
.about.hero{
    background-color: linear-gradient(147.89deg, rgba(42, 40, 94, 0.5) -53.28%, rgba(42, 40, 94, 0) 47.69%) !important;
    height: 100vh;
    background: url('../img/Group 2106 (2).png') no-repeat;
    margin-bottom: 150px;
}
.about.hero .footer-list li{
    margin-top: 10px;
    margin-bottom: 30px;
}
.about.hero h3{
    position: relative;
    top: 200px;
}
/****** faq page ********/
.faq-list{
    list-style: none;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.hr-line{
    width: 60%;
    margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    background-color: #F8F8F8;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    padding: 20px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px auto;
    text-align: right;
}
.faq-body{
    margin: auto;
     text-align: right;
    width: 60%;
    padding: auto;

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-container .active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: #F8F8F8;
    border-radius: 10px;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: left;
    margin-left: 5px;
}
.faq-container .active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
.font-12{
    font-size: 12px;
}
span.dark-yellow{
    position: absolute;
    width: 7px;
    height: 28px;
    top: 6px;
    right: 0;
    border-radius: 100px;
    background: #F3AD39;
}
.faq-container h2{
    position: relative;
}
.bg-yellow{
    border-bottom: 1px solid #F3AD39;
    width: max-content;
}
.modal-content{
    border-radius: 25px;
}
.loginForm a, .loginForm span{
    color:#606E7D;
}
#loginModal img{
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 100%;
}
.nav-pills{
    padding: 0px !important;
    background: rgba(39, 34, 101, 0.07);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32.5px;
    width: 250px;
}
.nav-pills .nav-item .nav-link.active{
    background: #272265;
    border-radius: 32.5px;
    color: white !important;
}
.nav-pills .nav-item{
    width: 50%;
}
.loginForm input[type='text']{
    border: none;
}
.mob_field{
    position: relative;
}
.flag_select{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 38px;
    background: none;
    border: none;
}
.intl-tel-input .flag-container{
    left: 0;
}
.intl-tel-input .country-list{
    left: 0;
    width:245px;
}
.intl-tel-input .selected-flag{
    padding: 0px 8px;
    width: 40px;
}
.intl-tel-input .flag-container:hover .selected-flag{
    background-color:unset !important;
}
.logged_btn{
    width: 240px;
    background: unset;
    border: 1px solid #272265;
    border-radius: 11px;
    color: #272265;
    height: 40px;
}
#loginModal button.close{
    position: absolute;
    opacity: 1;
    background: white !important;
    left: 40px;
    top: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#mapModal button.close{
    float: left;
}
#mapModal button.close i{
    color: #272265;
}
.address_btn{
    height: 55px;
    width: 300px;
    background: #272265;
    color: white;
    border: 1px solid #272265;
    border-radius: 11px;
}
.address{
    background: #F8F8F8;
    margin-top: 3rem;
    width: 50%;
    border-radius: 8px;
}
.saveMapAddress input[type="text"]{
    border: none;
    width: 350px;
    height: 55px;
}
.saveMapAddress .type{
    background: #F8F8F8;
    margin: 1rem;
    padding: 7px !important;
    border-radius: 22px;
}
.saveMapAddress .btn-primary{
    background: #272265;
    width: 160px;
    height: 50px;
}
.saveMapAddress .btn-secondary{
    background: white;
    border:1px solid #272265;
    color: #272265;
    width: 160px;
    height: 50px;
}
#saveMapModal button.close, #confirmModal button.close{
    width: 100%;
    text-align: left;
    position: absolute;
    top: 10px;
    left: -10px;
}
.code_group input[type="text"]{
    display: inline;
    width: 40px;
    height: 40px;
}
.confirmForm button[type="submit"]{
    width: 140px;
    height: 40px;
    background: #383085;
    border-radius: 22px;
    color: white;
    margin-top: 2rem;
}
.confirmForm button[type="submit"] i{
    color: white;
}
.confirmForm p, .confirmForm i{
    color: #B5BEC8;
    padding: 5px;
}
.confirmForm p a{
    color: #383085;
}
.confirmForm p a:hover, .confirmForm p a:active{
    color: #383085;
    text-decoration: none;
}
.chatboot-section{
    position: absolute;
    right: 15px;
    bottom: 90px;
}
.chatboot-icon{
    position: fixed;
    bottom: 0;
    right: 25px;
}
.chatboot-icon:hover, .chatboot-icon:active{
    cursor: pointer;
}
.show{
    display: block !important;
}
.chatboot{
    background: white;
    display: none;
    width: 330px;
    height: auto;
    max-height: 60vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    border-radius: 16px;
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 999;
}
.chatboot div{
    background: #F8F8F8;
    border-radius: 33px;
    height: auto !important;
    width: auto !important;
    margin: 10px;
    color: #606E7D;
    padding: 15px;
}
.chatboot div.list{
    height: auto !important;
    width: auto !important;
}
.chatboot div.list ul{
    list-style: none;
}
.chatboot div.list ul li {
    color: #B5BEC8;
}
.chatboot div.right{
    float: right;
}
.chatboot div.left{
    float: left;
}
.chatboot div.user{
    background: #383085 !important;
    color: white;
}
li.nav-link.nav-item.dropdown.user_tab.show a.dropdown-toggle {
    background: #383085;
}
.dropdown-menu.show {
    top: 50px;
}
.notifications, .messages{
    display: inline;
    float: right;
    text-align: left;
    width: 25%;
}
.user_tab{
    display: inline;
    float: left;
}
.notifications .dropdown-menu, .messages .dropdown-menu{
    width: 350px;
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    border-radius: 16px;
}
.notifications .dropdown-menu a, .messages .dropdown-menu a{
    width: 320px;
    height: auto;
    background: #F8F8F8;
    border-radius: 11px;
    margin: 10px;
}
.notifications .dropdown-menu a p, .messages .dropdown-menu a p{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.0703846px;
    color: #606E7D;
    white-space: initial;
}
.dropdown-item{
    padding: 1.5rem 1.5rem;
}
.messages_search{
    height: 50px;
    background: #F8F8F8;
    border-radius: 11px;
}
.dropdown-item.active, .dropdown-item:active{
    background: none !important;
}
input.form-control.messages_search.fa::placeholder{
    color: #B5BEC8;
}
.messages .dropdown-item p{
    width: 30%;
    padding-top: 10px;
    color: #606E7D;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.0703846px;
    white-space: initial;
}
.messages .dropdown-item img{
    width: 20%;
}
.messages .dropdown-item h6{
    width: 50%;
    white-space: initial;
    padding-right: 15px;
}
.attachments{
    list-style: none;
    padding-top: 15px;
    margin-bottom: 0;
}
.attachments li{
    display: inline;
    padding: 5px;
    margin-left: 10px;
    width: 90px;
    height: 30px;
    background: #EEEEEE;
    border-radius: 20px;
}
.green{
    color: #47D697;
}
#chatDropdown .dropdown-item{
    background: white;
}
#chatDropdown .dropdown-item img{
    width: 30px;
    height: 35px;
}
#chatDropdown .dropdown-item h6{
    border-radius: 0px 23px 23px 23px;
    color: #606E7D;
    width: 80%;
    padding: 15px;
}
#chatDropdown .dropdown-item .user_chat h6{

    background: #F8F8F8;
}
#chatDropdown .dropdown-item .chater h6{
    background: #272265;
    color: white;
}
#chatDropdown .row{
    max-width: 350px;
}
.user_chat img{
    float: left;
}
.user_chat h6{
    float: right;
}
.chater img{
    float: right;
}
.chater h6{
    float: left;
}
.sendbox{
    /*position: absolute;*/
    /*left: 47.58%;*/
    /*right: 4.4%;*/
    /*bottom: 0;*/
    /*width: 350px;*/
    /*height: 85px;*/
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 16px 16px;
}
.sendbox form input[type="text"]{
    height: 95px;
    width: 100%;
}
.content_messages{
    overflow-y: scroll;
}
.search_area{
    width: 100%;
    height: 120px;
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    border-radius: 18px;
}
.search_area input[type="search"]{
    background: #F8F8F8;
    border-radius: 11px;
    height: 50px;
    width: 500px;
}
.sidebar{
    background: #F8F8F8;
    border-radius: 11px;
}
#mySidebar a, #mySidebar button{
    display: block;
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: #272265;
    outline: none;
    border: none;
}
#mySidebar a.text-right:hover, #mySidebar a.text-right:active{
    text-decoration: none;
}
.dropdown-container {
    display: none;
    margin-right: 20px;
    background: white;
    margin-bottom: 15px;
    padding: 10px 15px;
}


/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: unset;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #B5BEC8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}